$text: rgb(0, 0, 0)
$highlight: rgb(102, 0, 51)

$light-background: rgb(250, 250, 255)
$dark-background: rgb(40, 40, 50)

$serif: Georgia, serif
$sans-serif: 'Trebuchet MS', Helvetica, sans-serif

html
  scroll-behavior: smooth

  p
    font-family: $serif
    text-indent: 20px

  a
    color: inherit
    text-decoration: underline

.page
  align-items: center
  display: flex

  &:nth-child(1)
    // Title
    background-color: $light-background
    color: $highlight
    min-height: 100vh
    text-align: center

    h4
      font-family: $serif
      font-size: 4vw
      font-style: italic
      @media (max-width: 576px)
        font-size: 6vw


    h1
      font-family: $sans-serif
      font-size: 8vw
      @media (max-width: 576px)
        font-size: 15vw
      margin-top: 2.5%

    h2
      font-family: $sans-serif
      margin-top: 10%

    img
      width: 15%

  &:nth-child(2)
    // Content
    background-color: $dark-background
    color: $text

    .col-lg
      background-color: $light-background
      margin: 4%
      outline-color: $highlight
      outline-style: solid
      outline-width: 3px
      padding: 4%

      @media screen and (min-width: 992px)
        &:nth-child(2)
          margin-left: 0
      @media screen and (max-width: 992px)
        &:nth-child(2)
          margin-top: 0


      h3
        color: $highlight
        font-family: $sans-serif
        margin-bottom: 25px
        margin-left: 10px

  &:nth-child(3)
    // Photos
    background-color: $light-background
    outline-color: $highlight
    outline-style: solid
    outline-width: 3px

    .row
      height: 200px
      overflow: hidden

    .col-sm
      background-position: center
      background-size: cover
      overflow: hidden
      padding: 0

      &:nth-of-type(1)
        background-image: url('/img/flowers.jpg')

      &:nth-of-type(2)
        background-image: url('/img/bikes.jpg')

      &:nth-of-type(3)
        background-image: url('/img/picking.jpg')

  &:nth-child(4)
    // Footer
    background-color: $dark-background
    min-height: 50px

    .col-sm
      color: $light-background
      font-family: $serif
      margin: 5px
      text-align: center
