//output:$1.html, pretty:false

doctype html
html(lang="en")
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
    link(rel='stylesheet' href='/css/style.min.css')
    link(rel='stylesheet' href='https://use.typekit.net/zuw8lku.css')
    title Serviceberry Cycles
  body
    .page(id="title")
      .container-fluid
        .row
          .col
            h4 Welcome to
        .row
          .col
            h1 Serviceberry Cycles
        .row
          .col
            h2
              a(href="#content")
                img(src="/img/colored-berry.png", alt="*")
    
    .page(id="content")
      .container-fluid
        .row
          .col-lg
            h3 Bicycle Repair
            h5 We fix bikes, maybe even yours!
            p
            b What can be fixed?
            p We can do everyday tuneups and tire repairs, and can diagnose other problems.
              | If you need components to be swapped, or a more complex repair like bearing replacements, just contact us.
              | We can talk about it!

            b How much does it cost?
            p We'll just charge you for the parts, any basic tuneups and adjustments are free.
            img.img-fluid(src="/img/wrench.png")
          
          .col-lg
            h3 Contact
            b Phone: 
            a(href="callto:607-269-5325") 607-269-5325
            p Call or Text
            b Email: 
            a(href="mailto:serviceberrycycles@gmail.com") serviceberrycycles@gmail.com
            img.img-fluid(src="/img/drivetrain.png")

    // Should make this section a slideshow and improve mobile viewing
    .page(id="photos")
      .container-fluid
        .row
          .col-sm
          .col-sm
          .col-sm
    
    .page(id="footer")
      .container-fluid
        .row
          .col-sm
            a(href="callto:607-269-5325") 607-269-5325
          .col-sm Serviceberry Cycles Cooperative
          .col-sm
            a(href="http://maps.google.com/maps?q=Ithaca,+NY+14850") Ithaca, NY
    
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV' crossorigin='anonymous')
